#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
 1. Python
 2. R
 3. SQL

Some of the commonly used libraries used by Data Scientists include:

 * Pandas
 * Numpy
 * Matplotlib
 * Seaborn
 * Scikit-learn

|Data Science Tools |
---------------------
Jupyter notbook
Rstudio
Apache Spark
MySQL

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

**Objectives:**

 * List popular languages for Data Science
 * List of the commonly used libraries for Data Scientist
 * List of Open-source Data Science Tools
 * Some arithmetic expressions

## Author:
     
Cigdem Sahin